.bg-bnb-orange{
	background-color: #FEB139 !important;
}
.bg-bnb-blue{
	background-color: #3066A6 !important;
}
.text-bnb-blue{
	color: #3066A6;
}
.text-bnb-orange{
	color: #FEB139;
}
.lowercase{
	text-transform: lowercase;
}
.no-case{
	text-transform: none;
}
.form-sz-lg{
	height: 60px;
	width: 100%;
}
.search-section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  min-height: 100vh;
}

.search-notification{
	color: #343a40;
	font-weight: bold;
}

.card {
  background-color: #fff;
  border: none;
  -webkit-box-shadow: 0 0.125rem 0.8rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.125rem 0.8rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.card > .list-group:first-child .list-group-item:first-child {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.card > .list-group:last-child .list-group-item:last-child {
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.card-body {
  padding: 2rem;
}

.card-title {
  margin-bottom: 1.5rem;
}

.card-subtitle {
  margin-top: -0.75rem;
}

.card-link + .card-link {
  margin-left: 2rem;
}

.card-header {
  padding: 1.5rem 2rem;
  background-color: white;
  border-bottom: none;
  -webkit-box-shadow: 0 0.125rem 0.8rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.125rem 0.8rem rgba(0, 0, 0, 0.1);
}

.card-header:first-child {
  border-radius: calc(1rem - 1px) calc(1rem - 1px) 0 0;
}

.card-header-transparent {
  background-color: rgba(0, 0, 0, 0.3);
  border-bottom: none;
}

.card-footer {
  padding: 1.5rem 2rem;
  background-color: #f8f9fa;
  border-top: 1px solid #eee;
}

.card-footer:last-child {
  border-radius: 0 0 calc(1rem - 1px) calc(1rem - 1px);
}

.card-header-tabs {
  margin-right: -1rem;
  margin-bottom: -1.5rem;
  margin-left: -1rem;
  border-bottom: 0;
}

.card-header-pills {
  margin-right: -1rem;
  margin-left: -1rem;
}

.card-img-overlay {
  padding: 1.25rem;
}

.card-img-overlay-opacity {
  background: rgba(0, 0, 0, 0.2);
}

.card-img {
  border-radius: calc(1rem - 1px);
}

.card-img-top {
  border-top-left-radius: calc(1rem - 1px);
  border-top-right-radius: calc(1rem - 1px);
}

.card-img-bottom {
  border-bottom-right-radius: calc(1rem - 1px);
  border-bottom-left-radius: calc(1rem - 1px);
}

.card-deck .card {
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .card-deck {
    margin-right: -15px;
    margin-left: -15px;
  }
  .card-deck .card {
    margin-right: 15px;
    margin-left: 15px;
  }
}

.bg-hover-gradient-primary {
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.bg-hover-gradient-primary:hover {
  color: #fff !important;
}

.bg-hover-gradient-primary:hover [class*='text-']:not(.exclode) {
  color: #fff !important;
}

.bg-hover-gradient-primary:hover::before {
  opacity: 1;
}

.bg-hover-gradient-primary::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: -webkit-gradient(linear, right top, left top, from(#4680ff), to(#0046df)) !important;
  background: linear-gradient(to left, #4680ff, #0046df) !important;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: -1;
}

.no-anchor-style {
  color: inherit !important;
  text-decoration: none !important;
}

.bg-bnb{
  min-width: 100%;
  min-height: 500px;
  background: url(../images/bnb-trans.png);
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
  background-size: contain;
}

.lg-input{
  border:0px;
  border-bottom: 1px solid #BDBDBD;
}
.upper{
  z-index: 20;
  position: absolute;
  width: 100%;
}

.download-box{
  width: 100%;
  height: 46px;
  padding: 5px;
  border:1px dashed #3066A6;
  border-radius: 10px;
  transition-duration: 1s;
  /*background-color: red;*/
}

.download-box:hover{
  box-shadow: 3px 3px 5px #3066A6;
  transition-duration: 1s;
}

.download-box i{
  color: #1e6d42;
}

.download-box span{
  font-family: 'century gothic';
  font-size: 1.3rem;
  color: #3066A6;
}

.preview-container{
  background: white;
  min-height: 100px;
  padding: 15px;
  border-radius: 10px;
}
.text-black{
  color: #000;
}